/* You can add global styles to this file, and also import other style files */
// body {
    // margin: 0;
    // font-family: 'Arial', sans-serif;
    // background-color: #000; // Black background
    // color: #fff; // White text
  // }
  body {
    background-color: var(--p-surface-950);
    font-family: 'Orbitron';
    color: var(--p-primary-color);

    // color: var(--text-color);
  }
  @font-face {
    font-family: 'Orbitron';
    src: url('assets/fonts/Orbitron-VariableFont_wght.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}