.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

input {
  font-size: 30px;
}

// :host ::ng-deep {
//   .p-card {
//     background-color: #1e1e1e; // Dark card background
//     color: #fff; // White text
//     border-radius: 10px;
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
//     padding: 20px;
//   }
// }
