<div class="chat-container">
  <h3 class="chat-title">CHAT</h3>
  <div class="messages-area" #messagesArea>
    <div class="message" *ngFor="let message of messageList">
      {{ message }}
    </div>
  </div>
  <div class="input-area">
    <input
      [(ngModel)]="newMessage"
      placeholder="NACHRICHT..."
      pInputText
      (keyup.enter)="sendMessage()"
    />
    <p-button (click)="sendMessage()" class="icon-only-button">
      <ng-icon name="phosphorPaperPlaneTilt" size="32px" />
    </p-button>
  </div>
</div>
