<div class="chat-container">
  <h3 class="chat-title">CHAT</h3>
  <div class="messages-area" #messagesArea>
    <div
      *ngFor="let message of messageList"
      class="message"
      [ngClass]="{
        'message-self': message.isSelf,
        'message-other': !message.isSelf
      }"
    >
      <div class="message-header">
        {{ message.isSelf ? "Du" : message.username }}
      </div>
      <div class="message-content">
        {{ message.text }}
      </div>
    </div>
  </div>
  <div class="input-area">
    <input
      [(ngModel)]="newMessage"
      placeholder="NACHRICHT..."
      pInputText
      (keyup.enter)="sendMessage()"
    />
    <p-button (click)="sendMessage()" class="icon-only-button">
      <ng-icon name="phosphorPaperPlaneTilt" size="32px" />
    </p-button>
  </div>
</div>
