.buzzer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px 0;
  width: fit-content;
}

.buzzer-button {
  width: 31vh;
  height: 31vh;
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  //   transition: all 0.3s ease;
  padding: 0;
  outline: none;
  position: relative;
  overflow: hidden;

  .pulse-ring {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid var(--p-primary-700);
    opacity: 1;
    animation: none; /* Animation not running by default */
  }

  &:hover {
    .pulse-ring {
      // opacity: 1; /* Fade in */
      // animation: pulse 1.2s ease 0s 1 normal forwards;
      //   transition: all 1s ease-out;

      //   transition: animation 2s ease-out;
      //   animation-delay: 0.2s; /* Small delay to allow fade-in to start first */
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }

  &.buzzered {
    border-color: var(--p-primary-600);
    box-shadow: 0 0 50px 5px var(--p-primary-color);
    background-color: transparent;
  }
}

.buzzer-inner {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  //   border: 2px solid var(--p-primary-700);
}

.profile-placeholder {
  width: 70%;
  height: 70%;
  border-radius: 50%;
  background-color: var(--p-primary-700);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 900;
  font-family: "Arial";
  color: var(--p-surface-950);
  border: 2px solid var(--p-primary-700);

  // Future profile picture will go here
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  // 25% {
  //   transform: scale(0.8);
  // }
  //   50% {
  //     transform: scale(1);
  //   }
  // 75% {
  //   transform: scale(1.2);
  // }
  100% {
    transform: scale(0.75);
  }
}

.buzzer-status {
  margin-bottom: 20px;
  text-align: center;
}

.buzzer-name {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--p-primary-color);
  text-shadow: 0 0 10px var(--p-primary-color), 0 0 20px var(--p-primary-color);
}

.buzzer-text {
  font-size: 1.5rem;
}

.reset-container {
  margin-bottom: 20px;
}

.reset-button {
  background-color: transparent;
  border: 2px solid var(--p-primary-color);
  border-radius: 8px;
  padding: 8px 16px;
  color: var(--p-primary-color);
  font-weight: bold;
  cursor: pointer;
}
