.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  padding: 20px;
}

.center {
  text-align: center;
}

.header {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 60px;
  margin: 0;

  .highlight {
    text-shadow: 0 0 20px var(--p-primary-color),
      0 0 20px var(--p-primary-color), 0 0 20px var(--p-primary-color);
  }
}

.lobby-container {
  display: grid;
  grid-template-columns: minmax(200px, 300px) 1fr minmax(200px, 300px);
  grid-template-areas: "left-panel center-area right-panel";
  gap: 20px;
  flex: 1;
}

.left-panel {
  grid-area: left-panel;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center-area {
  grid-area: center-area;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.game-preview-wrapper {
  flex: 1;
  flex-grow: 0.9;
}

.buzzer-wrapper {
  display: flex;
  justify-content: center;
}

.right-panel {
  grid-area: right-panel;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-actions {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.start-game-btn {
  background-color: var(--p-primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;

  &:hover {
    background-color: var(--p-primary-600);
  }

  &:active {
    transform: scale(0.98);
  }
}
