<div class="page-container">
  <div class="header">
    <h1>
      LOBBY VON
      <span class="highlight">{{
        lobby?.moderator?.username?.toUpperCase()
      }}</span>
    </h1>
  </div>

  <div class="lobby-container">
    <div class="left-panel">
      <app-interactive-user-panel [lobby]="lobby"></app-interactive-user-panel>
      <app-get-lobby-code></app-get-lobby-code>
      <!-- Only show start game button for moderator -->
      <div class="game-actions" *ngIf="lobby.isModerator">
        <p-button class="start-game-btn" (click)="startGame()">
          SPIEL STARTEN
        </p-button>
      </div>
    </div>

    <div class="center-area">
      <div class="game-preview-wrapper">
        <app-game-preview></app-game-preview>
      </div>

      <h3 class="center">TESTBUZZER</h3>
      <div class="buzzer-wrapper">
        <app-buzzer
          [lobbyCode]="lobbyCode"
          [isModerator]="lobby?.isModerator"
        ></app-buzzer>
      </div>
    </div>

    <div class="right-panel">
      <app-chat></app-chat>
    </div>
  </div>
</div>
