<div class="panel-wrapper">
  <div class="user-panel-container">
    <h3 class="panel-title">TEILNEHMER</h3>

    <div class="users-list">
      <!-- Moderator -->
      <div class="user-item moderator" *ngIf="displayedModerator">
        <!-- Avatar for moderator -->
        <div class="user-avatar">
          <img
            *ngIf="getAvatarUrl(displayedModerator)"
            [src]="getAvatarUrl(displayedModerator)"
            alt="Avatar"
          />
          <span
            *ngIf="!getAvatarUrl(displayedModerator)"
            class="avatar-initial"
            >{{ getInitial(displayedModerator.username) }}</span
          >
        </div>

        <ng-icon
          name="gameHammerDrop"
          size="20px"
          class="moderator-icon"
        ></ng-icon>
        <span class="user-name"
          >{{ displayedModerator.username }} (Moderator)</span
        >
        <span
          class="points-badge"
          *ngIf="displayedModerator.points !== undefined"
        >
          {{ displayedModerator.points }}
        </span>
      </div>
      <div
        class="divider"
        *ngIf="displayedModerator && displayedUsers.length > 0"
      ></div>

      <!-- Other users -->
      <ng-container *ngFor="let user of displayedUsers; let last = last">
        <div class="user-item" id="user-{{ user.socketId }}">
          <!-- Avatar for user -->
          <div class="user-avatar">
            <img
              *ngIf="getAvatarUrl(user)"
              [src]="getAvatarUrl(user)"
              alt="Avatar"
            />
            <span *ngIf="!getAvatarUrl(user)" class="avatar-initial">{{
              getInitial(user.username)
            }}</span>
          </div>

          <!-- Kick Icon -->
          <ng-icon
            *ngIf="isModerator"
            name="phosphorXCircleFill"
            size="18px"
            class="kick-icon"
            (click)="kickUser(user)"
          >
          </ng-icon>

          <!-- User Info -->
          <span class="user-name">{{ user.username }}</span>

          <!-- Points control - moved to be just before points badge -->
          <div class="points-control" *ngIf="isModerator">
            <span
              class="point-btn decrease"
              (click)="removePoint(user)"
              title="Punkt abziehen"
              >-</span
            >
            <span
              class="point-btn increase"
              (click)="addPoint(user)"
              title="Punkt hinzufügen"
              >+</span
            >
          </div>

          <span class="points-badge" *ngIf="user.points !== undefined">
            {{ user.points }}
          </span>
        </div>

        <div class="divider" *ngIf="!last"></div>
      </ng-container>

      <!-- No users message -->
      <div
        class="no-users"
        *ngIf="!displayedModerator && displayedUsers.length === 0"
      >
        LEER
      </div>
    </div>
  </div>
</div>
