<div class="user-panel-container">
  <h3 class="panel-title">TEILNEHMER</h3>
  <div class="users-list">
    <!-- Show moderator first -->
    <div class="user-item moderator" *ngIf="moderator">
      <ng-icon
        name="gameHammerDrop"
        size="20px"
        class="moderator-icon"
      ></ng-icon>
      <span class="user-name">{{ moderator.username }} (Moderator)</span>
    </div>
    <div class="divider" *ngIf="moderator && users.length > 0"></div>

    <!-- Show all other users -->
    <ng-container *ngFor="let user of users; let last = last">
      <div class="user-item">
        <span class="user-name">{{ user.username }}</span>
        <ng-icon
          *ngIf="isModerator"
          name="phosphorXCircleFill"
          size="18px"
          class="kick-icon"
          (click)="kickUser(user)"
        >
        </ng-icon>
      </div>
      <div class="divider" *ngIf="!last"></div>
    </ng-container>

    <!-- Message when no users are present -->
    <div class="no-users" *ngIf="!moderator && users.length === 0">LEER</div>
  </div>
</div>
